# See http://help.github.com/ignore-files/ for more about ignoring files.
.env
# compiled output
/tmp

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
/*.iml

# misc
/coverage/*
npm-debug.log

/yarn-error.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store

# pm2-config.json
dist/


.nyc_output
/coverage_integration/*
/coverage_unit/*

out.csv
.yarn/
yarn.lock

# vim
*.swp

*.icloud
